@import "tailwindcss";

/* 確保 body 撐滿全螢幕並使用我們定義的背景色 */
/* @layer base {
  body {
    @apply bg-slate-50 text-slate-900;
    margin: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
} */