@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-brand-navy: #002664;
  --color-brand-green: #008542;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-200;
  }

  html.dark body {
    @apply bg-slate-900 text-slate-100;
  }
}
